# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Installer artifacts/binaries
*.exe
*.dll
*.pyd

# Virtual environments
env/
venv/
ENV/
.venv/

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Windows thumbnail cache
Thumbs.db

# npm/yarn
node_modules/

# Python coverage
.coverage
htmlcov/

# Pyre type checker
.pyre/
